body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Stylizace pro mobilní zařízení */
@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        color: white;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .nav-menu.active {
        display: flex;
        text-align: center;
    }

    /* Skrýt menu po kliknutí mimo nabídku */
    body {
        position: relative;
    }
}

.hamburger.active + .nav-menu {
    display: flex;
}

body.clicked-outside .nav-menu {
    display: none;
}

/* Sekce Služby */
#services {
    padding: 40px 0;
    background-color: #e9ebf0;
}

.services h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

* {
    outline: 1px solid red;
}
